*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "opensans", sans-serif;
    overflow-x: hidden;
}

/* Header Section */
.header-section{
    background-image: url(../Images/background53.jpg);
    width: 100%;
    height: 30rem;
    background-position: center;
}

.header-body h2 {
    font-family: "opensans", sans-serif;
   font-size: 3rem;
   font-weight: 600;
   padding-top: 10rem;
   padding-left: 55rem;
}
/* Navigation */
.navbar-brand {
    padding-left: 1.5%;
    font-size: 2rem;
  }
  .navbar-nav {
    margin-right: 50px;
    
  }
  li {
    display: inline-block;
  }

.nav-link {
    font-size: 1.2rem;
}

.bg-custom{
  background: transparent;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.itemBox{
    width: 50%;
}
.product-page{
  margin-left: 10%;
  margin-top: 5%;
}
#product{
  text-align: center;
  
}
.filters{
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
}

/* Product Page */
.wrapper{
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}
.h3{
  font-weight: 900
}
.views{
  font-size: 0.85rem
}
.btn{
  color: #666;
  font-size: 0.85rem
}
.btn:hover {
  color:  #00ac6d;
}
.green-label{
  color:  #00ac6d
}
.radio,
.checkbox {
    padding: 6px 10px
}
.border {
  border-radius: 12px
}
.options {
  position: relative;
  padding-left: 25px
}

.radio label,
.checkbox label {
  display: block;
  font-size: 14px;
  cursor: pointer;
  margin: 0
}

.options input {
  opacity: 0
}
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 50%
}
.options input:checked~.checkmark:after {
  display: block
}
.options .checkmark:after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background: white;
  position: absolute;
  top: 52%;
  left: 51%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark {
  background: #61b15a;
  transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark:after {
  transform: translate(-50%, -50%) scale(1)
}

div.text-muted {
  font-size: 0.85rem;
}
.close {
  font-size: 1.2rem
}
.s__filter{
  font-size: 0.85rem;
}
.category {
  font-size: 0.9rem;
  cursor: pointer
}
.list-group-item {
  border: none;
  padding: 0.3rem 0.4rem 0.3rem 0rem
}
.badge-primary {
  background-color: #defadb;
  color: #48b83e
}

.brand .check {
  background-color: #fff;
  top: 3px;
  border: 1px solid #666
}
.brand .tick {
  font-size: 1rem;
  padding-left: 25px
}
.brand .tick:hover input~.check,
.rating .tick:hover input~.check {
    background-color: #f9f9f9
}

.brand .tick input:checked~.check,
.rating .tick input:checked~.check {
    background-color: #61b15a
}
label {
  cursor: pointer
}

.tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0
}

.tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0
}

.check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px
}

.tick:hover input~.check {
  background-color: #f3f3f3
}

.tick input:checked~.check {
  background-color: #61b15a
}

.check:after {
  content: "";
  position: absolute;
  display: none
}

.tick input:checked~.check:after {
  display: block;
  transform: rotate(45deg) scale(1)
}

.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2)
}

#products {
  width: 75%;
  padding-left: 30px;
  margin: 0;
  float: right
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer
}

.card-body {
  padding: 0.5rem;
}

.card-body .description {
  font-size: 0.78rem;
  padding-bottom: 8px
}

div.h6,
h6 {
  margin: 0
}

.product .fa-star {
  font-size: 0.9rem
}

.rebate {
  font-size: 0.9rem
}

.btn.btn-primary {
  background-color: #48b83e;
  color: #fff;
  border: 1px solid #008000;
  border-radius: 10px;
  font-weight: 800
}

.btn.btn-primary:hover {
  background-color: #48b83ee8
}

img {
  width: 192px;
  height: 132px;
  object-fit: contain
}

.clear {
  clear: both
}

.btn.btn-success {
  visibility: hidden
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
.navbar-nav{
    background-color: #365c9a;
    text-align: center;
    margin: 0;
    padding: 0;
}
}
